*,
html {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

ul {
    list-style: none;
}

.container {
    position: relative;
    margin: 50px;
    width: 750px;
    height: 350px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.swiper {
    position: absolute;
    left: 0px;
    height: 350px;
    overflow: hidden;
}

.item {
    float: left;
    width: 750px;
    height: 350px;
    font-size: 0;
}

/* btns */
.pagination {
    position: absolute;
    z-index: 99;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(55, 55, 55, 0.3);
    box-shadow: 0 -3px 3px rgba(55, 55, 55, .3);
}

.pagination span {
    display: inline-block;
    margin: 0 3px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .8);
    font-size: 10px;
    cursor: pointer;
}

.pagination span.on {
    color: #fff;
    background: #e30;
}

.prev,
.next {
    position: absolute;
    top: 160px;
    z-index: 99;
    width: 30px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: rgba(55, 55, 55, .3);
    cursor: pointer;
}

.next {
    right: 0;
}